@import url('https://fonts.googleapis.com/css?family=Lora|Paytone+One');

html{
	background: #fff;
	
}

body {
	color: #999;
	background: #f5f5f5;
	margin: 8px;
	padding: 40px 80px;
}

.container {
	margin: auto;
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

footer{
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}




h1 {
	font-family: 'Paytone One', sans-serif;
	font-size: 24px;
	letter-spacing: 2px;
	color: #333;
	text-transform: uppercase;
}

p {
	font-family: 'Lora', serif;
	font-size: 16px;

}

#slogan {
	font-weight:100;
	color: #999;
	
}

a {
	color: #333;
	text-decoration: none;
	border-bottom: 1px;
	border-bottom-style: dotted;
	border-color: #333;
}



img {
	background: cover;
	max-width: 450px;
	border-style: solid;
	border-width: 8px;
	border-color: #fff;
}

#submission {
	margin-top: 40px;
	color: #333;
}