body {
	color: #008080;
	background: #f5f5f5;
	font-family: "Proxima Nova", sans-serif;
	border-color: #fff;
	border-width: 10px;
	padding: 40px;
}

h1 {
	font-size: 24px;
	letter-spacing: 1;
	text-transform: uppercase;

}

p {
	font-size: 16px;
}

#slogan {
	font-style: italic;
}

a {
	color: #333;
	text-decoration: none;
}

ul {
	list-style-type: none;
}
}