body {
	color: #fff;
	background: #AED1D4;
	border-style: solid 
	border-color: #fff;
	border-width: 20px:;
	padding: 80px;
}

h1 {
	font-size: 24px;
	letter-spacing: 1;
	text-transform: uppercase;

}

p {
	font-size: 16px;
}

#slogan {
	font-style: italic;
}

a {
	color: #333;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

img {
	background: cover;
	max-width: 600px;
	border-style: solid;
	border-width: 5px;
	border-color: #fff;
}

#submission {
	margin-top: 40px;
}